*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #0f172a;
    height: 40px;
    align-items: center;
    padding: 0 20px;
    margin: auto;

}
nav{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover{
    color: red;
    background-color: white;
    padding: 5px;
}
#more{
    margin-left: 50px;
}
.search-button{
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

select{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
section{
    padding: 30px 0;
}
.home{
    height: 90vh;
    width: 100%;
    background: url('image/image.jpg') no-repeat center center/cover;
    object-fit: cover;
    background-position: center;
}
.home h1{
    color: white;
    font-size: 50px;
    margin-top: 500px;
    text-align: center;
}
.home h3{
    color: white;
    font-size: 20px;
    margin-top: auto;
    text-align: center;
}
.band{
    background-color: #fff;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.band h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.first-par{
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.second-par{
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    background-color: transparent;
    padding: 20px;
    border-radius: none;
    text-align: center;
    justify-content: center;
    width: 200px;
}
.card img{
    width: 100%;
    display:flex;
}
.card p{
    padding: 0px;
}
.content{
    background-color: black;
    color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.content h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.content p{
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 80%;
    font-size: 12px;
    font-style: italic;
    font-weight: light;
}
.tour-list{
    display: block;
    list-style: none;
    padding: 0;
    background-color: white;
    width: 60%;
    color: black;
    margin: 30px auto;
    height: 25vh;
    border-radius: 20px;
}
.tour-list li{
    font-size: 16px;
    margin: 10px 0;
    display: block;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.sold{
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: arial, sans-serif;
    background-color: red;
}
.out{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    font-family: arial, sans-serif;
    background-color: black;
    margin-left: 90%;
    border-radius: 50%;
    width: 20%;
    margin-top: 50px;
}
.content-ticket{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 15px;
    justify-content: center;

}
.ticket{
    background-color: #fff;
    color: black;
    width: 250px;
    height: 360px;
}
.ticket img{
    width: 100%;
    display: flex;
}
.ticket h1{
    font-size: 18px;
    margin-left: 5px;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
    margin-top: 10px;
}
.ticket p{
    text-align: left;
    margin-left: 6px;
    margin-top: 15px;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.5px;
    font-family:'Times New Roman', Times, serif
}
.description{
    font-size 20px;
    font-weight: 100;
    margin-top: 15px;
    font-style: normal;
    letter-spacing: 2px;
    font: 'Times New Roman', Times, serif;
    opacity: 0.6;
}
.link{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
}
.link:hover{
    background-color: rgb(196, 185, 185);
    color: black;
}   
.contact{
    margin-top: 5px;
    background-color: #fff;
     height: 60vh;

}
.contact-section{
        text-align: center;
        margin-bottom: 60px;
}
.contact h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    width: 100%;
}
.contact h5{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 8px;
    width: 100%;
    font-weight: lighter;
    opacity: 0.8;
    margin: 0;
}
.contact-info p{
    margin-bottom: 10px ;
    font-size: 16px;
}
.grid-container-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    margin-top: 40px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
.input-row{
    display: flex;
    gap: 10px;
}
.message{
    flex: 1;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 15px;
}
.message:focus{
    border-color: #0f172a;
    outline: none;
}
.message::placeholder{
    color: #999;
}
.messages{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}
.messages::placeholder{
    color: #999;
}
.messages:focus{
    outline: none;
}
.Execution{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    display: block;
    margin-left: 75%;
    
}
.Execution:hover{
    background-color: rgb(196, 185, 185);
    color: black;
}
.lonely-image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: auto;
}
.social-icons{
    display: flex;
    opacity: 0.3;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.social-icons:hover{
    color: rgb(119, 97, 97);
}
.footer-hero h3{
    display: inline;
    margin-top: 25px
    opacity: 0.7;
}